<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Off"
      internalLogFile="C:\temp\nlog-internal.log">

  <variable name="layout" value="[${longdate}] ${when:when=logger!='':inner=[${logger:shortName=true}] }[${uppercase:${level}}]: ${message} ${exception:format=tostring}"/>

  <variable name="base_dir" value="${specialfolder:folder=ApplicationData}/YDL-UI/logs"/>
  <variable name="crash_dir" value="${base_dir}/crashes"/>

  <targets>
    <target xsi:type="Debugger" name="debugger" layout="${layout}" />

    <target xsi:type="File" name="rollover" layout="${layout}"
            encoding="UTF-8"
             
            fileName="${base_dir}/${cached:${date:format=yyyy-MM-dd_HH-mm-ss}}.log"
            archiveFileName="${base_dir}/{#}.log"
            archiveDateFormat="yyyy-MM-dd_HH-mm-ss"
            archiveNumbering="Date"
            archiveEvery="Day"
            maxArchiveFiles="14"
            />
    
    <target xsi:type="File" name="crash" layout="${layout}" encoding="UTF-8" fileName="${crash_dir}/crash-${date:format=yyyy-MM-dd_HH-mm-ss}.log"/>

  </targets>

  <rules>
    <logger name="*" level="Fatal" writeTo="crash"/>
    <logger name="*" minlevel="Trace" maxlevel="Error" writeTo="debugger"/>
    <logger name="*" minlevel="Trace" maxlevel="Error" writeTo="rollover"/>
  </rules>

</nlog>